img {
  display: block;
  width: 100%;
}
body {
  background-color: rgb(188, 255, 249);
  font-family: 'Inconsolata', monospace;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}
.photo-card {
  flex-basis: calc((100% - 45px) / 4);
  border-radius: 7px;
  border: 1px solid rgb(248, 88, 208);
  margin-bottom: 10px;
  box-shadow: 0 3px 3px 0 rgb(214, 86, 214);
  background-color: rgb(255, 232, 155);
}
.photo-card:nth-child(-n + 4) {
  margin-top: 20px;
}
.photo-card:not(:nth-child(4n)) {
  margin-right: 15px;
}
.search-form {
  padding-bottom: 20px;
  background: rgb(115, 55, 255);
  justify-content: center;
  display: flex;
  padding-top: 20px;
}
.input {
  margin-right: 9px;
}
.search {
  margin-right: 9px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 7px;
}
.info-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
